.ln-verde {
    width: 100%;
    height: 2px;
}

.ln-red-2 {
    width: 100%;
    height: 1px;
}

.span-verde {
    color: #49C5B1;
    font-weight: bold;
}

.img-about {
    width: 50%;
}

.bg-verde {
    background-color: #49C5B1 !important;
}
