.ln-verde {
    width: 100%;
    height: 2px;
}

.contact-img {
    width: 200px;
    height: 200px;
}

.color-link {
    color: #49C5B1;
}

.ln-verde-2 {
    margin: auto;
    width: 50%;
    height: 1px;
}

.bg-verde {
    background-color: #49C5B1 !important;
}
