<div class="col-md-4 mx-auto mt-5 mb-5 col-footer">
  <div class="card mt-3">
      <div class="card-body text-center">
          <h3 class="card-title text-weight-bold font-weight-bold mb-3">
              Digite seu Email
          </h3>
          <hr class="bg-verde mt-0 mb-3 d-inline-block mx-auto ln-red-2" />

          <div class="form-group">
              <input type="email" class="form-control" [formControl]="userEmail" required />
          </div>
          <div class="form-group text-center">
              <button class="btn btn-verde btn-lg" (click)="onReset()">
    Recuperar Senha
  </button>
          </div>
      </div>
  </div>
</div>
