<div class="container mb-3">
    <h1 class="mt-3 display-5 text-left">Salas</h1>
    <hr class="bg-verde mb-4 mt-0 d-inline-block mx-auto ln-red" />

    <div class="container mb-4">
        <h3>Salas Criadas</h3>
        <div class="card text-center mb-3 mx-2 box-room" *ngFor="let item of rooms$ | async">
            <div class="card-body">
                <h5 class="card-title">
                    <span class="h3 card-name-dashboard text-truncate">{{
            item.roomName
          }}</span>
                </h5>
                <h6 class="card-subtitle mb-2 text-muted mb-3 height-45px">
                    {{ item.roomAdress.address }}
                </h6>
                <button type="button" class="btn btn-red btn-sm my-0" placement="bottom" ngbPopover="Entrar na Sala" triggers="mouseenter:mouseleave" (click)="onGoToRoom(item)">
          <i class="fas fa-search"></i>
        </button>
                <button type="button" class="btn btn-warning btn-sm ml-2 my-0" data-toggle="modal" data-target="#deletarModal" placement="bottom" ngbPopover="Deletar Sala" triggers="mouseenter:mouseleave">
          <i class="fas fa-trash"></i>
        </button>
        <div class="modal fade" id="deletarModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLabel">Deletar Sala</h5>
                            </div>
                            <div class="modal-body">
                                Deseja deletar a sala "{{ item.roomName }}" ?
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-outline-dark" data-dismiss="modal">
                  Fechar
                </button>
                                <button type="button" class="btn btn-verde bg-verde" (click)="onDelete(item)" data-dismiss="modal">
                  Deletar
                </button>
                            </div>
                        </div>
                    </div>
                    </div>
                <a class="btn btn-success btn-sm ml-2 my-0" data-toggle="modal" data-target="#exampleModal" placement="bottom" ngbPopover="Compartilhar Link" triggers="mouseenter:mouseleave" href="https://wa.me/?text=Acesse%20Nossa%20Sala%20No%20Site%20CaronaJa%20http://localhost:4200/dashboard/{{
            item.uidRoom
          }}" target="_blank"><i class="fas fa-share"></i
        ></a>
                <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLabel">
                                    Compartilhar Link
                                </h5>

                                <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="resetMensagem()">
                  <span aria-hidden="true">&times;</span>
                </button>
                            </div>

                            <div class="modal-body input-group" style="right: 0">
                                <input class="d-flex p-1 text-center rounded-left" style="width: 93.5%" type="text" readonly value="https://caronajaa.herokuapp.com/dashboard/{{ item.uidRoom }}" />
                                <div id="text-copy" class="display-none"></div>
                                <button class="rounded-right" type="button" placement="right" ngbPopover="{{ mensagemCopiar }}" triggers="mouseenter:mouseleave" (click)="
                    copyMessage(
                      'https://caronajaa.herokuapp.com/dashboard/',
                      item
                    )
                  " value="Copiar">
                  <i class="fas fa-copy"></i>
                </button>
                            </div>

                            <div class="modal-footer">
                              <button type="button" class="btn btn-outline-dark" data-dismiss="modal">
                                Fechar
                              </button>
                                <a class="btn btn-outline-success ml-2 my-0" placement="bottom" ngbPopover="Compartilhar no WhatsApp" triggers="mouseenter:mouseleave" href="https://wa.me/?text=Acesse%20nossa%20sala%20no%20site%20CaronaJ%C3%A1%20https%3A%2F%2Fcaronajaa.herokuapp.com%2Fdashboard%2F{{item.uidRoom}}" target="_blank"><i class="fab fa-whatsapp"></i>
                                </a>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <button       type="button"
            class="btn bg-verde"
            (click)="onGoToCar(item)"
          >
            Abrir Carro
          </button>
        </div>

        <div class="card text-center mb-3 mx-2 align-middle box-create-room " style="height: 228.88px;" placement="bottom" ngbPopover="Criar Sala" triggers="mouseenter:mouseleave" (click)="open(content)">
            <div class="card-body" style="float: left">
                <i class="fas fa-plus mt-3" style="font-size: 40px; padding: 15% 0"></i>
            </div>
        </div>
    </div>

    <hr class="bg-verde mb-4 mt-4 d-inline-block mx-auto ln-red-2" />

    <div class="container mb-4 container-cards">
        <h3>Salas Entradas</h3>
        <div class="card text-center mb-3 mx-2 box-room" *ngFor="let objs of roomsConvidado | async">
          <div class="card-body">
            <h5 class="card-title">
                <span class="h3 card-name-dashboard text-truncate">{{
        objs.roomName
      }}</span>
            </h5>
            <h6 class="card-subtitle mb-2 text-muted mb-3 height-45px">
                {{ objs.roomAdress.address }}
            </h6>
            <button type="button" class="btn btn-red btn-sm my-0" placement="bottom" ngbPopover="Entrar na Sala" triggers="mouseenter:mouseleave" (click)="onGoToRoom(objs)">
      <i class="fas fa-search"></i>
    </button>
            <button type="button" class="btn btn-warning btn-sm ml-2 my-0" data-toggle="modal" data-target="#sairModal" placement="bottom" ngbPopover="Sair da sala" triggers="mouseenter:mouseleave">
      <i class="fas fa-trash"></i>
    </button>

    <div class="modal fade" id="sairModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
          <div class="modal-content">
              <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalLabel">Deletar Sala</h5>
              </div>
              <div class="modal-body">
                  Deseja sair da sala "{{ objs.roomName }}" ?
              </div>
              <div class="modal-footer">
                  <button type="button" class="btn btn-outline-dark" data-dismiss="modal">
    Fechar
  </button>
                  <button type="button" class="btn btn-verde bg-verde" (click)="onSair(objs)" data-dismiss="modal">
    Sair
  </button>
              </div>
          </div>
      </div>
      </div>
          </div>
        <button       type="button"
        class="btn bg-verde"
        (click)="onGoToCar(objs)"
      >
        Abrir Carro
      </button>
        </div>
        <div class="card text-center mb-3 mx-2 align-middle box-create-room" placement="bottom"  style="height: 228.88px;"ngbPopover="Entrar em Sala Criada" triggers="mouseenter:mouseleave" (click)="openSala(entrarsala)">
            <div class="card-body" style="float: left">
                <i class="fas fa-door-open mt-3" style="font-size: 40px; padding: 17.4% 0"></i>
            </div>
        </div>
    </div>

    <hr class="bg-verde mb-4 mt-4 d-inline-block mx-auto ln-red-2" />
    <!-- *ngIf="user$|async as user; else login"
  <ng-template #login>
    <h3>Vá para o login</h3>
  </ng-template> -->

    <ng-template #content let-modal>
        <div class="modal-header">
            <h4 class="modal-title" id="modal-basic-title">Criar Sala</h4>
            <button type="button" class="close" aria-label="Fechar" (click)="modal.dismiss()">
        <span aria-hidden="true">&times;</span>
      </button>
        </div>
        <div class="modal-body">
            <div class="form-group">
                <label for="roomName" class="col-form-label">Nome da Sala</label>
                <input type="text" class="form-control" id="roomName" [(ngModel)]="room.roomName" />
            </div>
            <div class="form-group">
                <label for="roomAdress" class="col-form-label">Local da Sala </label>
                <GooglePlacesComponent (setAddress)="onGetAddress($event)" (setAddress)="onGetEstablishmentAddress($event)"></GooglePlacesComponent>
            </div>
            <div class="modal-footer">
                <button *ngIf="liberarBotao" type="button" class="btn btn-outline-verde bg-verde" (click)="onSalvarSala()" (click)="modal.close()">
          Salvar
        </button>
            </div>
        </div>
    </ng-template>

    <ng-template #entrarsala let-modal>
        <div class="modal-header">
            <h4 class="modal-title" id="modal-basic-title">Entrar Sala</h4>
            <button type="button" class="close" aria-label="Fechar" (click)="modal.dismiss()">
        <span aria-hidden="true">&times;</span>
      </button>
        </div>
        <div class="modal-body">
            <div class="form-group">
                <label for="entrarSala" class="col-form-label">Digite o código da sala</label
        >
        <input
          type="text"
          class="form-control"
          id="entrarSala"
          [(ngModel)]="uidRoomEntrar"
        />
      </div>
      <div class="modal-footer mb-0">
        <button
          type="button"
          class="btn btn-outline-verde bg-verde"
          (click)="onEntrarSalaUser()"
          (click)="modal.close()"
        >
          Entrar
        </button>
      </div>
    </div>
  </ng-template>

  <ng-template >


  </ng-template>
</div>
