<div class="container">
  <div class="page-header">
    <h1 class="mt-3 display-3 text-center">CaronaJá</h1>
    <hr class="bg-danger mt-0 d-inline-block mx-auto ln-red" />
    <h4 class="display-7 mb-4 text-center">Aplicativo de Caronas</h4>
  </div>

  <div class="mt-3 mb-5">
    <div class="container">
      <div class="row">
        <div class="col-md-6 col-sm-6">
          <div class="card text-center">
            <div class="card-block">
              <img
                src="assets/img/HomemSozinhoCarro.png"
                alt="Criar uma Sala"
                class="img-fluid"
              />
              <a href="#" class="btn btn-danger btn-lg btn-block">Criar sala</a>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-sm-6">
          <div class="card text-center">
            <div class="card-block" style>
              <img
                src="assets/img/DirigindoAmigo.png"
                alt="Criar uma Sala"
                class="img-fluid"
              />
              <a href="#" class="btn btn-danger btn-lg btn-block"
                >Entrar em uma sala</a
              >
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
